*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table{
  text-align: center;
  width: 75vw;
  vertical-align: middle;
}

.seach-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
